button {
    border: 10px solid black;
    border-radius: 20%;
    width: 150px;
    height: 150px;
    outline: none;
    cursor: pointer;
}

.buttonsContainer__green-button {
    background-color: green;
}

.buttonsContainer__red-button {
    background-color: red;
}

.buttonsContainer__yellow-button {
    background-color: yellow;
}

.buttonsContainer__blue-button {
    background-color: blue;
}

.buttonsContainer--button-pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}